/*放置变量*/
:root {
  --font-size-normal: .26rem;

  --border-normal:1px solid;

  /*层级*/
  --z-index-hide:-1;
  --z-index-normal:1;
  --z-index-mask:700;
  --z-index-bottom:800;
  --z-index-model:900;
  --z-index-toast:1000;
}