<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <title>Shopping</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <header class="shop-show-header hairline-bottom">
    <div class="back-img">
      <img src="../../assets/img/back.png" alt="error">
    </div>
    <p class="shop-show-shopName"></p>
  </header>
  <div class="shop-show-all-content">
    <div class="menu-assess-merchant">
      <div class="shop-show-menu underline">点菜</div>
      <div class="shop-show-assess">评价</div>
      <div class="shop-show-merchant">商家</div>
    </div>
    <div class="shop-show-main-contain ">
      <div class="left-menu"></div>
      <div class="right-commodity"></div>
    </div>
  </div>
  <footer class="shop-footer">
    <div class="shopping-cart-list">
      <div class="clear-cart-list">
        <div class="clear-cart-list-contain">
          <div class="clear-cart-list-img">
            <img src="../../assets/img/clear.jpeg">
          </div>
          <p class="clear-cart-list-span">清空购物车</p>
        </div>
      </div>
      <div class="shopping-cart-list-show"></div>
    </div>
    <div class="shop-show-footer">
      <div class="shopping-cart-img">
        <img src="../../assets/img/shop-icon.png" alt="error">
      </div>
      <div class="shopping-cost-container"></div>
      <div class="settlement">去结算</div>
    </div>
  </footer>
  <script src="../../common/js/vender/axios.min.js"></script>
  <script src="js/index.js" type="module"></script>
</body>

</html>