.nav-tab{
  display: flex;
  justify-content: space-around;  /*以1:2:2:1的距离分离*/
  height: 100%;
  text-align: center;
  padding-top: 0.1rem;
}

.nav-tab .nav-tab-item{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}