<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">  <!--移动端适配，禁止用户放大缩小-->
  <title>首页</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div class="g-container">
    <div class="g-view-container">
      <header class="header">
        <div class="position-box">
          <span class="position-box-img"></span>
          <span class="position-box-location">杭州市</span>
          <span class="position-box-go" ></span>
        </div>
        <div class="search-box" >
          <div class="search-box-img"></div>
          <label>
            <input type="text" class="input-box" placeholder="鸡翅">
          </label>
        </div>
      </header>
      <nav class="home-swiper-container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
          </div>
        </div>
      </nav>
      <div class="shoplist">
        <p class="shop-header">附近商家</p>
      </div>
    </div>
    <div class="g-footer-container"></div>
  </div>


  <script src="../../common/js/vender/axios.min.js"></script>
  <script src="js/index.js" type="module"></script>
</body>
</html>